# Images
*.svg
*.png

# Logging files
*.log
datasets/
# Database files
*.db

# Visual Studio Code
.vscode

# Storage
*.tar
metadata-postgres-data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/
*.egg-info

# JetBrains IDE files
.idea/
llmfiltering.py
# postgresql
postgres-data/
storage-postgres-data/
metadata-postgres-data/

# Trainer output data
src/data/*

.DS_Store

# Pytest stuff
.pytest_cache
.mypy_cache/
reports/
htmlcov/
/assets/
report.html
.coverage
# Pytest creates files that have the name of the local desktop included, so we need to wildcard here
.coverage.*

# storage c++ specific
!modyn/storage/lib
!modyn/storage/lib/googletest

# Unity build files
cmake-build-debug
# File that stores whether Modyn has been configured + backup environment
.modyn_configured
environment.yml.original
docker-compose.yml.original
Dockerfile.original

# Experimental things
/plots/

# Unity build files
cmake-build-debug/
clang-tidy-build/
libbuild/

# Data & config files

.data/
.debug/
.env

exploration/
