pillow
grpcio-tools>=1.63
grpcio>=1.63 # Linux
mypy-protobuf
pystack

# Linting
autopep8
black
mypy
pylint
ruff

# Testing
pytest
pytest-console-scripts
pytest-cov
pytest-html

# Plotting
plotly
matplotlib
seaborn
dash
dash-daq
dash_cytoscape
dash_bootstrap_components
