version: '3.8'

services:
  modynbase:
    image: modynbase
    build:
      context: .
      dockerfile: docker/Base/Dockerfile
  metadata-db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default_database
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  storage-db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default_database
    volumes:
      - ./storage-postgres-data:/var/lib/postgresql/data
  storage:
    restart: on-failure
    depends_on:
      - modynbase
      - storage-db
    build:
      context: .
      dockerfile: docker/Storage/Dockerfile
  trainer_server:
    restart: on-failure
    depends_on:
      - storage
    build:
      context: .
      dockerfile: docker/Trainer_Server/Dockerfile
  tests:
    depends_on:
      - modynbase
      - storage
      - db
      - storage-db
    build:
      context: .
      dockerfile: docker/Tests/Dockerfile