version: '3.8'

# By default, we disable mountain the current directory under /modyn_host. However, this might be helpful for local development.
# For the trainer server, you additionally might want to enable the runtime and deployment option to enable the GPU in the container.
# For the storage, you probably want to mount some volume containing the datasets.

services:
  metadata-db:
    image: postgres:15.2-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: md5
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
#    shm_size: 24gb
    volumes:
      - ./metadata-postgres-data:/var/lib/postgresql/data
      - ./metadata_postgresql.conf:/etc/postgresql/postgresql.conf
  storage-db:
    image: postgres:15.2-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: md5
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
#    shm_size: 8gb
    volumes:
      - ./storage-postgres-data:/var/lib/postgresql/data
      - ./storage_postgresql.conf:/etc/postgresql/postgresql.conf
  storage:
    restart: on-failure
    depends_on:
      - storage-db
    build:
      context: .
      dockerfile: docker/Storage/Dockerfile
    volumes:
      - storage-data:/app/storage
#      - /mnt/datasets:/datasets
#      - .:/modyn_host
  metadata_processor:
    restart: on-failure
    depends_on:
      - metadata-db
    build:
      context: .
      dockerfile: docker/MetadataProcessor/Dockerfile
  trainer_server:
    restart: on-failure
    depends_on:
      - storage
      - selector
    build:
      context: .
      dockerfile: docker/Trainer_Server/Dockerfile
#    volumes:
#      - .:/modyn_host
#    shm_size: 4gb
#    runtime: nvidia
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              count: 1
#              capabilities: [gpu, utility, compute]
  selector:
    restart: on-failure
    depends_on:
      - metadata-db
    build:
      context: .
      dockerfile: docker/Selector/Dockerfile
#    volumes:
#      - .:/modyn_host
#      - /mnt/ssd/trigger_samples:/tmp/trigger_samples
  supervisor:
    depends_on:
    - storage
    - metadata-db
    - storage-db
    - selector
    - metadata_processor
    - trainer_server
    build:
      context: .
      dockerfile: docker/Supervisor/Dockerfile
#    volumes:
#      - .:/modyn_host
    container_name: supervisor
  tests:
    depends_on:
      - storage
      - metadata-db
      - storage-db
      - selector
      - metadata_processor
    build:
      context: .
      dockerfile: docker/Tests/Dockerfile
    volumes:
      - storage-data:/app/storage
volumes:
  storage-data: