# Environment file for modyn
# This contains all dependencies to run modyn and modyn itself, but not the dependencies to run the tests/development
# By default, we disable CUDA to reduce the size of installed packages.
# When deploying on a real system, please uncomment the according lines.
# Furthermore, we need to separate the dependencies for the individual components, since not all components require all dependencies (e.g., only the trainer server and evaluator need PyTorch). This is issue #104.

name: modyn

channels:
  - conda-forge
  - anaconda
  - nvidia
  - pytorch
  - huggingface

dependencies:
  - python=3.11
  - pip
  - setuptools
  - tqdm
  - conda-forge::enlighten
  - pip:
      - grpcio>=1.63
      - protobuf==5.26.*
      - types-protobuf==5.26.*
      - evidently==0.4.27
      - alibi-detect==0.12.*
      - tenacity
  - jsonschema
  - psycopg2
  - sqlalchemy>=2.0
  - pyaml
  - pydantic
  - numpy==1.26.*
  - pandas
  - bitstring
  - tensorboard
  - scipy
  - pyftpdlib
  - types-psycopg2
  - types-PyYAML
  - transformers
  - nltk
  - peft
  - pytorch::pytorch=2.2.1
  - pytorch::torchvision
  - pytorch::cpuonly # comment out if commenting in lines below for CUDA
#  - pytorch::pytorch-cuda=12.1
#  - nvidia::cuda-libraries-dev=12.1.*
#  - nvidia::cuda-nvcc=12.1.*
#  - nvidia::cuda-nvtx=12.1.*
#  - nvidia::cuda-cupti=12.1.*
#  - nvidia::cuda-cudart-dev=12.1.*
#  - nvidia::cuda-profiler-api=12.1.*
