InheritParentConfig: true

Checks: >
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -*-avoid-goto,
  -fuchsia-statically-constructed-objects,

  -readability-function-cognitive-complexity,
  -cert-err58-cpp,

## Google test triggers all except the following -- see https://github.com/google/googletest/issues/2442
# readability-function-cognitive-complexity      Tests may be complex (setup, execution, assertions)
# cert-err58-cpp                                 We may have static objects whose construction could throw in tests