pipeline:
  name: MNIST Test Pipeline
  description: Example pipeline
  version: 1.0.0
model:
  id: ResNet18
  config:
    num_classes: 10
model_storage:
  full_model_strategy:
    name: "PyTorchFullModel"
training:
  gpus: 1
  device: "cuda:0"
  dataloader_workers: 2
  use_previous_model: True
  initial_model: random
  batch_size: 64
  shuffle: False
  optimizers:
    - name: "default"
      algorithm: "SGD"
      source: "PyTorch"
      param_groups:
        - module: "model"
          config:
            lr: 0.1
            momentum: 0.001
  optimization_criterion:
    name: "CrossEntropyLoss"
  checkpointing:
    activated: False
data:
  dataset_id: mnist
  transformations: ["transforms.ToTensor()",
                    "transforms.Normalize((0.1307,), (0.3081,))"]
  bytes_parser_function: |
    from PIL import Image
    import io
    def bytes_parser_function(data: bytes) -> Image:
      return Image.open(io.BytesIO(data)).convert("RGB")
trigger:
  id: DataAmountTrigger
  num_samples: 2000
selection_strategy:
  name: NewDataStrategy
  maximum_keys_in_memory: 1000
  storage_backend: "database"
  limit: -1
  tail_triggers: 0
evaluation:
  handlers:
    - strategy:
        type: MatrixEvalStrategy
        eval_every: 100s
        eval_start_from: 0
        eval_end_at: 300
      trigger:
        mode: after_training
      datasets: ["mnist"]
  device: "cpu"
  result_writers: ["json", "tensorboard"]
  datasets:
    mnist:
      dataset_id: mnist
      transformations: ["transforms.ToTensor()",
                        "transforms.Normalize((0.1307,), (0.3081,))"]
      bytes_parser_function: |
        from PIL import Image
        import io
        def bytes_parser_function(data: bytes) -> Image:
          return Image.open(io.BytesIO(data)).convert("RGB")
      batch_size: 64
      dataloader_workers: 2
      metrics:
        - name: "Accuracy"
          evaluation_transformer_function: |
            import torch
            def evaluation_transformer_function(model_output: torch.Tensor) -> torch.Tensor:
              return torch.argmax(model_output, dim=-1)
        - name: "F1Score"
          config:
            num_classes: 10
            average: "macro"
          evaluation_transformer_function: |
            import torch
            def evaluation_transformer_function(model_output: torch.Tensor) -> torch.Tensor:
              return torch.argmax(model_output, dim=-1)
