project:
  name: "Dynamic Datasets DSL Project"
  description: "Instance of Dynamic Datasets DSL Project"
  version: "0.0.1"

storage:
  port: "50051"
  hostname: "storage"
  new_file_watcher:
    interval: 5
  datasets:
    [
      {
        name: "mnist",
        description: "MNIST Dataset",
        version: "0.0.1",
        base_path: "/datasets/mnist",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "SingleSampleFileWrapper",
        file_wrapper_config:
          {
            file_extension: ".png",
            label_file_extension: ".label"
          },
        ignore_last_timestamp: false,
      }
    ]
  database:
    drivername: "postgresql"
    username: "postgres"
    password: "postgres"
    host: "storage-db"
    port: "5432"
    database: "postgres"

metadata_database:
  drivername: "postgresql"
  username: "postgres"
  password: "postgres"
  host: "metadata-db"
  port: "5432"
  database: "postgres"

ptmp:
  port: "50055"
  hostname: "backend"
  processor: "SimpleProcessor"

selector:
  hostname: "selector"
  port: "50056"

trainer_server:
  hostname: "trainer_server"
  port: "50057"
  ftp_port: "50058"
