project:
  name: "Dynamic Datasets DSL Project"
  description: "Instance of Dynamic Datasets DSL Project"
  version: "0.0.1"

storage:
  port: "50051"
  hostname: "storage"
  new_file_watcher:
    interval: 5
  datasets:
    [
      {
        name: "criteo",
        description: "Criteo Dataset",
        version: "0.0.1",
        base_path: "/datasets/criteo",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "BinaryFileWrapper",
        file_wrapper_config:
          {
            byteorder: "little",
            record_size: 160,
            label_size: 4,
            file_extension: ".bin"
          }
      }
    ]
  database:
    drivername: "postgresql"
    username: "postgres"
    password: "postgres"
    host: "storage-db"
    port: "5432"
    database: "postgres"

metadata_database:
  drivername: "postgresql"
  username: "postgres"
  password: "postgres"
  host: "metadata-db"
  port: "5432"
  database: "postgres"

ptmp:
  port: "50055"
  hostname: "backend"
  processor: "SimpleProcessor"

selector:
  hostname: "selector"
  port: "50056"

trainer_server:
  hostname: "trainer_server"
  port: "50057"
