project:
  name: "Dynamic Datasets DSL Project"
  description: "Instance of Dynamic Datasets DSL Project"
  version: "0.0.1"

storage:
  port: "50051"
  hostname: "storage"
  sample_batch_size: 2000000
  sample_dbinsertion_batchsize: 1000000
  insertion_threads: 8
  retrieval_threads: 8
  sample_table_unlogged: true
  file_watcher_watchdog_sleep_time_s: 5
  datasets: [
      # ------------------------------------ MNIST ----------------------------------- #
      {
        name: "mnist",
        description: "MNIST Dataset",
        version: "0.0.1",
        base_path: "/datasets/mnist",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "SingleSampleFileWrapper",
        file_wrapper_config:
          { file_extension: ".png", label_file_extension: ".label" },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 128,
      },
      # ----------------------------------- CRITEO ----------------------------------- #
      {
        name: "criteo",
        description: "Criteo Dataset",
        version: "0.0.1",
        base_path: "/datasets/criteo",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "BinaryFileWrapper",
        file_wrapper_config:
          {
            byteorder: "little",
            record_size: 160,
            label_size: 4,
            file_extension: ".bin",
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 2000000,
      },
      # ---------------------------------- YEARBOOK ---------------------------------- #
      {
        name: "yearbook_all",
        description: "Yearbook Dataset from Wild-Time (full set)",
        version: "0.0.1",
        base_path: "/datasets/yearbook/all",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "BinaryFileWrapper",
        file_wrapper_config:
          {
            byteorder: "big",
            record_size: 12292,
            label_size: 4,
            file_extension: ".bin",
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 256,
      },
      {
        name: "yearbook_train",
        description: "Yearbook Dataset from Wild-Time (training set)",
        version: "0.0.1",
        base_path: "/datasets/yearbook/train",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "BinaryFileWrapper",
        file_wrapper_config:
          {
            byteorder: "big",
            record_size: 12292,
            label_size: 4,
            file_extension: ".bin",
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 256,
      },
      {
        name: "yearbook_test",
        description: "Yearbook Dataset from Wild-Time (test set)",
        version: "0.0.1",
        base_path: "/datasets/yearbook/test",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "BinaryFileWrapper",
        file_wrapper_config:
          {
            byteorder: "big",
            record_size: 12292,
            label_size: 4,
            file_extension: ".bin",
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 256,
      },
      # ------------------------------------ FMOW ------------------------------------ #
      {
        name: "fmow",
        description: "Functional Map of the World Dataset (from WILDS/Wild-time)",
        version: "0.0.1",
        base_path: "/datasets/fmow",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "SingleSampleFileWrapper",
        file_wrapper_config:
          { file_extension: ".png", label_file_extension: ".label" },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 1024,
      },
      # ---------------------------------- HUFFPOST ---------------------------------- #
      {
        name: "huffpost_train",
        description: "Huffpost Dataset (from Wild-time)",
        version: "0.0.1",
        base_path: "/datasets/huffpost",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since headlines contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      # ------------------------------- HUFFPOST KAGGLE ------------------------------ #
      {
        name: "huffpost_kaggle_train",
        description: "Original Huffpost Dataset from Kaggle (train)",
        version: "0.0.1",
        base_path: "/datasets/huffpost_kaggle/train",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since headlines contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      {
        name: "huffpost_kaggle_test",
        description: "Original Huffpost Dataset from Kaggle (test)",
        version: "0.0.1",
        base_path: "/datasets/huffpost_kaggle/test",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since headlines contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      # ------------------------------------ ARXIV ----------------------------------- #
      {
        name: "arxiv_train",
        description: "Arxiv Dataset from Wild-time (training set)",
        version: "0.0.1",
        base_path: "/datasets/arxiv/train",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since sentences contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      {
        name: "arxiv_test",
        description: "Arxiv Dataset from Wild-time (test set)",
        version: "0.0.1",
        base_path: "/datasets/arxiv/test",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since sentences contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      # -------------------------------- ARXIV KAGGLE -------------------------------- #
      {
        name: "arxiv_kaggle_train",
        description: "Original Arxiv Dataset from Kaggle (training set)",
        version: "0.0.1",
        base_path: "/datasets/arxiv_kaggle/train",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since sentences contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      {
        name: "arxiv_kaggle_test",
        description: "Original Arxiv Dataset from Kaggle (test set)",
        version: "0.0.1",
        base_path: "/datasets/arxiv_kaggle/test",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "CsvFileWrapper",
        file_wrapper_config: {
            file_extension: ".csv",
            separator: "\t", #tsv best option here since sentences contain commas and semicolons
            label_index: 1,
          },
        ignore_last_timestamp: false,
        file_watcher_interval: 5,
        selector_batch_size: 4096,
      },
      # ------------------------------------ CLOC ------------------------------------ #
      {
        name: "cloc",
        description: "CLOC Dataset",
        version: "0.0.1",
        base_path: "/datasets/cloc",
        filesystem_wrapper_type: "LocalFilesystemWrapper",
        file_wrapper_type: "SingleSampleFileWrapper",
        file_wrapper_config:
          { file_extension: ".jpg", label_file_extension: ".label" },
        ignore_last_timestamp: false,
        file_watcher_interval: 999999999,
        selector_batch_size: 100000,
      },
    ]
  database:
    drivername: "postgresql"
    username: "postgres"
    password: "postgres"
    hostname: "storage-db"
    port: "5432"
    database: "postgres"

metadata_database:
  drivername: "postgresql"
  username: "postgres"
  password: "postgres"
  hostname: "metadata-db"
  port: "5432"
  database: "postgres"
  hash_partition_modulus: 32

metadata_processor:
  port: "50055"
  hostname: "metadata_processor"
  processor: "SimpleProcessor"

selector:
  hostname: "selector"
  port: "50056"
  keys_in_selector_cache: 500000
  sample_batch_size: 500000
  insertion_threads: 16
  trigger_sample_directory: "/tmp/trigger_samples"
  local_storage_directory: "/tmp/local_storage"
  local_storage_max_samples_in_file: 1000000
  cleanup_storage_directories_after_shutdown: true
  ignore_existing_trigger_samples: true

trainer_server:
  hostname: "trainer_server"
  port: "50057"
  ftp_port: "50058"
  offline_dataset_directory: "/tmp/offline_dataset"

model_storage:
  hostname: "model_storage"
  port: "50059"
  ftp_port: "50060"
  models_directory: "/tmp/models"

evaluator:
  hostname: "evaluator"
  port: "50061"

tensorboard:
  port: "50062"

supervisor:
  hostname: "supervisor"
  port: "50063"
  eval_directory: "/tmp/evaluation_results"
