version: '3.8'

services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default_database
    ports:
      - '50059:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  storage-db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default_database
    ports:
      - '50060:5432'
    volumes:
      - ./storage-postgres-data:/var/lib/postgresql/data

  storage:
    image: storage
    restart: on-failure
    depends_on:
      - storage-db
    build:
      context: ../
      dockerfile: modyn/storage/Dockerfile
    ports:
      - '50051:50051'

  backend:
    image: backend
    depends_on:
      - db
      - storage
    build:
      context: ../
      dockerfile: modyn/backend/Dockerfile
    ports:
      - '5124:5124'
    volumes:
      - ./backend:/app

  trainer_server:
    image: trainer_server
    build:
      context: ./
      dockerfile: modyn/trainer_server/Dockerfile
    ports:
      - '5001:5001'
    volumes:
      - ./modyn/trainer_server:/app
