version: '3.8'

services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default_database
    ports:
      - '5431:5431'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  storage:
    image: storage
    depends_on:
      - db
    build:
      context: ./
      dockerfile: ./storage/Dockerfile
    ports:
      - '5123:5123'
    volumes:
      - ./storage:/app

  backend:
    image: backend
    depends_on:
      - db
      - storage
    build:
      context: ./
      dockerfile: ./backend/Dockerfile
    ports:
      - '5124:5124'
    volumes:
      - ./backend:/app

  # frontend:
  #   image: frontend
  #   depends_on:
  #     - backend
  #   build:
  #     context: ./
  #     dockerfile: ./frontend/Dockerfile
  #   ports:
  #     - '3001:3001'
  #   volumes:
  #     - ./frontend:/app
  #   command: tail -F anything
