name: Python package

on: [push, pull_request]

defaults:
  run:
    shell: bash
    working-directory: ./src

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'
    - name: Flake8
      run: |
        pip install flake8
        flake8 --version
        flake8 --statistics
  unittests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'
  integrationtests:
      runs-on: ubuntu-latest
      
      steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.10'
